.dynamic-select {
   display: flex;
   align-items: center;
   flex: auto;
   flex-wrap: wrap;
   .options {
      visibility: hidden;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 50;
      &--open {
         visibility: visible;
      }
      .option {
         white-space: nowrap;
      }
   }
   .select-shadow-wrapper {
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      &[aria-invalid="true"] {
         border-color: red;
      }
      .selected-option {
         cursor: pointer;
         position: relative;
         width: 100%;
         &[value=""] {
            
         }
         &::after {
			content: "";
            @include transition;
            font-family: icons;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
         }
         &--open {
            &::after {
               transform: translateY(-50%) rotateX(180deg);
            }
         }
      }
      .options {
         width: 100%;
         margin-left: 0;
         margin-top: 0;
         border: 1px solid #bdbdbd;
         border-radius: 3px;
         .option {
            padding: rem(12) 5%;
         }
         .option:not([data-value=""]) {
            &:hover {
               background-color: rgba(#ffee00, 0.2);
            }
         }
      }
      .option {
         width: 100%;
         cursor: pointer;
         &[data-selected] {
            background-color: rgba(#ffee00, 0.4);
         }
         &[data-value=""] {
            opacity: 0.5;
         }
      }
   }
   select {
      font-size: inherit;
      option {
         padding: 5px;
      }
   }
}
