._icon-facebook:before {
    content: "\e901";
}
._icon-instagram:before {
    content: "\e902";
}
._icon-youtube:before {
    content: "\e904";
}
._icon-arrow:before {
    content: "\e900";
}
._icon-schedule:before {
    content: "\e903";
}
._icon-house:before {
    content: "\e905";
}
._icon-right-angle:before {
    content: "\e906";
}
