.icon-facebook:before {
    content: "\e901";
}
.icon-instagram:before {
    content: "\e902";
}
.icon-youtube:before {
    content: "\e904";
}
.icon-arrow:before {
    content: "\e900";
}
.icon-schedule:before {
    content: "\e903";
}
