button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}
input,
textarea {
    font-weight: inherit;
    background-color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    &::placeholder {
        font-size: inherit;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
}
textarea {
    display: block;
}
a {
    color: inherit;
}
th {
    text-align: left;
    font-weight: inherit;
}
address {
    font-style: normal;
}
[data-spoiler] {
    cursor: pointer;
}
* {
    &::before,
    &::after {
        pointer-events: none;
    }
}
[class*="__input"] {
    transition: border-color 0.15s;
    &[aria-invalid="true"] {
        border-color: red;
    }
}

::selection {
    background-color: rgba($lightBlue, .2);
    color: $darkBlue;
}
.breadcrumbs {
    @include flex-center;
    flex-wrap: wrap;
    color: #fff;
    font-size: 10px;
    line-height: 1.4;
    position: relative;
    z-index: 10;
    &__list-item {
        // outline: 1px solid yellow;
        gap: 5px;
        padding-left: 5px;
        @include flex-center;
        &:first-child {
            .breadcrumbs__link {
                display: flex;
                align-items: center;
                gap: 5px;
                &::before {
                    content: "\e905";
                    font-size: 10px;
                    @extend %ic;
                    margin-bottom: 3px;
                }
            }
        }
        &:not(:last-child) {
            &::after {
                content: "\e906";
                font-size: 5px;
                @extend %ic;
                margin-bottom: 2px;
            }
        }
        &:last-child {
            opacity: 0.5;
            padding-left: 5px;
        }
    }
    &__link {
        // padding: 0 8px;
        // outline: 2px solid red;
    }
}
._error-list {
    text-align: left;
    margin-left: 11px;
    color: #f55;
    font-weight: 700;
    opacity: 0;
    min-height: 1em * 1.2;
    line-height: 1.2;
    transition: all 0.3s;
    margin-top: 2px;
    @include avalue("font-size", 16, 10);
    @media (max-width: $smallPhone + px) {
        margin-left: 9px;
    }
    li {
    }
    &--visible {
        opacity: 1;
    }
}
._light-button {
    @extend %button;
    color: $lightBlue;
    background-color: #fff;
}
._dark-button {
    @extend %button;
    background: linear-gradient(75.62deg, #009ee2 7.02%, #273992 91.67%);
    color: #fff;
}

%fabric {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 603px;
    z-index: -2;
    transform: translate(-50%, 10%);
    background: center top no-repeat url(../../img/fabric.jpg);
    @media (min-width: $maxWidth + 1+ px) {
        background-size: cover;
    }
}
%button {
    // height: 60px; // 25
    font-family: Raleway;
    line-height: math.div(19, 16);
    font-weight: 700;
    @include abetweenvalue("font-size", 16, 10, $phone, 8);
    @include abetweenvalue("padding-top", 24, 13, $phone, 10);
    @include abetweenvalue("padding-bottom", 24, 13, $phone, 10);
    @include abetweenvalue("padding-left", 70, 25, $phone, 20);
    @include abetweenvalue("padding-right", 70, 25, $phone, 20);
    border-radius: 60px;
    text-transform: uppercase;
    z-index: 2;
}
._arrow-button-large {
    text-transform: uppercase;
    color: $darkBlue;
    font-weight: 700;
    @include aminvalue("font-size", 16, 12, $phone);
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: $phone + px) {
        font-size: 10px;
    }
    span {
        margin-left: -10px;
    }
    &::before {
        content: "\e900";
        @include aminvalue("font-size", 34, 20, $phone);
        @include aminvalue("height", 98, 58, $phone);
        @include aminvalue("width", 98, 58, $phone);
        border-radius: 50%;
        @extend %ic;
        @include flex-center;
        background: center / contain no-repeat url(../../img/incomplete-circle.png);
        @media (max-width: $phone + px) {
            @include size(50);
            font-size: 17px;
        }
    }
    @media (any-hover: hover) {
        transition: color 0.3s;
        &:hover {
            color: $lightBlue;
        }
    }
}
._arrow-button-small {
    text-transform: uppercase;
    color: $darkBlue;
    font-weight: 700;
    @include aminvalue("font-size", 16, 12, $phone);
    line-height: 1;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    &::before {
        content: "\e900";
        display: block;
        font-size: 19px;
        @extend %ic;
        @media (max-width: 440px) {
            font-size: 15px;
        }
    }
    @media (any-hover: hover) {
        transition: color 0.3s;
        &:hover {
            color: $lightBlue;
        }
    }
    @media (max-width: 440px) {
        font-size: 10px;
    }
}
.menu {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px 25px;
        font-size: 13px;
        line-height: math.div(15, 13);
        text-transform: uppercase;
    }
    &__link {
        transition: color 0.3s;
        position: relative;
        &::before {
            content: "";
            transition: background-color 0.3s;
            position: absolute;
            top: 100%;
            left: 0;
            height: 2px;
            width: 100%;
            margin-top: 3px;
            background-color: transparent;
        }
    }
}
.social-list {
    display: flex;
    column-gap: 7px;
    @extend %ic;
    &__link {
        font-size: 11px;
        line-height: 1;
        @include size(28);
        @include flex-center;
        border: 1px solid;
        border-radius: 50%;
        transition: color 0.3s;
    }
}
[class*="__text-list-item"] {
    position: relative;
    margin-left: 15px;
    &::before {
        content: "";
        @include size(6);
        position: absolute;
        left: 0;
        top: 5px;
        margin-left: -15px;
        border-radius: 50%;
        background-color: #e1e1e1;
    }
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
[class*="__slider"],
[class*="-slider"] {
    .swiper-wrapper {
        display: flex;
        align-items: start;
        // outline: 5px solid red;
    }
    .swiper-slide {
        flex: 0 0 100%;
        // opacity: 0.1;
        // transition: opacity 0.5s;
        // outline: 5px solid rgba(lightblue, 0.3);
        &-active {
            opacity: 1;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        @include size(75);
        border-radius: 50%;
        outline: 1px solid transparent;
        background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="37.5" cy="37.5" r="37" stroke="url(%23paint0_linear_0_232)"/><defs><linearGradient id="paint0_linear_0_232" x1="-3.125" y1="37" x2="71.7176" y2="17.8122" gradientUnits="userSpaceOnUse"><stop stop-color="%23009EE2"/><stop offset="1" stop-color="%23273992"/></linearGradient></defs></svg>');
        position: absolute;
        top: 50%;
        cursor: pointer;
        transform: translate(0, -50%);
        transition: all 0.3s;
        &::before {
            content: "";
            @include abs-center;
            width: pc(34, 75);
            height: pc(27, 75);
            transition: transform 0.3s;
            background: no-repeat url('data:image/svg+xml;utf8,<svg viewBox="0 0 34 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9599 1.20321L2.41825 12.7434L33.2916 12.7434C33.6828 12.7434 34 13.0605 34 13.4517C34 13.8429 33.6828 14.1601 33.2916 14.1601L2.41825 14.1601L13.9599 25.7002C14.2317 25.9816 14.2238 26.43 13.9425 26.7018C13.6679 26.9669 13.2328 26.9669 12.9583 26.7018L0.208317 13.9518C-0.068664 13.6756 -0.0691942 13.2271 0.207055 12.9501C0.207455 12.9497 0.207917 12.9492 0.208317 12.9488L12.9583 0.198812C13.2397 -0.0729894 13.6881 -0.0651521 13.9599 0.216212C14.2251 0.490735 14.2251 0.925895 13.9599 1.20042L13.9599 1.20321Z" fill="url(%23paint0_linear_0_231)"/><defs><linearGradient id="paint0_linear_0_231" x1="17.2268" y1="28.0215" x2="22.8005" y2="0.543454" gradientUnits="userSpaceOnUse"><stop stop-color="%23009EE2"/><stop offset="1" stop-color="%23273992"/></linearGradient></defs></svg>');
        }
        @media (max-width: $phone + px) {
            @include size(65);
            &::before {
                font-size: 24px;
            }
        }
        @media (max-width: 700 + px) {
            @include size(55);
        }
        @media (max-width: $smallPhone + px) {
            @include size(42);
            &::before {
                font-size: 15px;
            }
        }
        @media (any-hover: hover) {
            &:hover {
                outline-color: rgba($lightBlue, .4);
            }
        }
    }
    .swiper-button-prev {
        left: -75 - 23px;
        @media (max-width: 700 + px) {
            left: 0;
            transform: translate(-120%, 0%);
        }
    }
    .swiper-button-next {
        right: -75 - 23px;
        &::before {
            transform: translate(-50%, -50%) scaleX(-1);
        }
        @media (max-width: 700 + px) {
            right: 0;
            transform: translate(120%, 0%);
        }
    }
}
.swiper-pagination {
    @include flex-center;
    column-gap: 26px;
    margin: 40px auto;
    // height: 30px;
    position: relative;
    z-index: 4;
    // max-width: 170px;
    // outline: 1px solid purple;
    text-align: center;
    @media (max-width: $smallPhone + px) {
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        display: block;
    }
    @media (max-width: $smallPhone + px) {
        margin: 20px auto;
    }
    &-bullet {
        transition: all 0.5s;
        @include size(18);
        flex-shrink: 0;
        border-radius: 50%;
        background-color: #e1e1e1;
        cursor: pointer;
        outline: 4px solid transparent;
        @media (max-width: $smallPhone + px) {
            position: relative;
            text-align: center;
            display: inline-block;
            margin: auto 13px;
            padding: 10px 0 0 0;
        }
        &-active {
            outline-color: $lightBlue;
        }
    }
}

._inner-page {
    .first-screen {
        position: relative;
        color: #fff;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        @include abetweenvalue("height", 416, 278, $phone, 200);
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            // outline: 5px solid red;
            bottom: -6px;
            height: 245px;
            width: 1440px;
            background: center top no-repeat var(--gradient-line);
            z-index: 1;
            @media (max-width: $phone + px) {
                bottom: -113px;
                width: 100%;
                background: center top no-repeat var(--gradient-line-tablet);
            }
        }
        // .first-screen__container
        &__container {
            position: relative;
            overflow: hidden;
        }
        // .first-screen__image
        &__image {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 1440px;
            img {
                width: 100%;
                height: 100%;
                filter: grayscale(100%);
            }
            @media (max-width: $phone + px) {
                width: 768px;
                height: 100%;
                object-fit: cover;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(75.62deg, #009ee2 7.02%, #273992 91.67%);
                mix-blend-mode: normal;
                opacity: 0.7;
                z-index: 10;
            }
        }
        // .first-screen__title
        &__title {
            margin-top: 128px;
            line-height: 1.18;
            text-align: center;
            position: relative;
            z-index: 1;
            font-family: PhillippScript;
            @include abetweenvalue("font-size", 100, 60, $phone, 48);
            @media (max-width: $phone + px) {
                margin-top: 60px;
            }
        }
    }
}
._single-page {
    .first-screen {
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__breadcrumbs {
            margin-top: 24px;
            @media (max-width: $smallPhone + px) {
                margin-top: 18px;
            }
        }
        &__time {
            margin-top: 20px;
            font-size: 14px;
            line-height: 1.4;
            opacity: 0.5;
            position: relative;
            z-index: 10;
            @media (max-width: $smallPhone + px) {
                font-size: 10px;
            }
        }
        &__title {
            @include abetweenvalue("font-size", 60, 48, $phone, 24);
            @include avalue("margin-top", 20, 10);
        }
        &__info {
            @include abetweenvalue("font-size", 18, 12, $phone, 8);
            // @include avalue("margin-top", -25, 0);
            line-height: math.div(26, 18);
            font-weight: 700;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                display: block;
            }
        }
        &__button {
            @include avalue("margin-top", 25, 8);
            @include abetweenvalue("padding-left", 90, 50, $phone, 37);
            @include abetweenvalue("padding-right", 90, 50, $phone, 37);
        }
    }
}
._simple-first-screen {
    .first-screen__title {
        margin-top: 70px;
        @include abetweenvalue("font-size", 100, 60, $phone, 48);
        @include avalue("margin-top", 70, 30);
    }
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 17px + 50px auto;
    @media (max-width: $phone + px) {
        margin: 17px + 50px - 20px auto;
    }
    @media (max-width: $smallPhone + px) {
        margin: 30px auto;
    }
    // .pagination__list
    &__list {
        display: flex;
        gap: 18px;
        @media (max-width: $smallPhone + px) {
            gap: 16px;
        }
    }
    // .pagination__item
    &__item {
    }
    // .pagination__button
    &__button {
        @include size(47);
        flex-shrink: 0;
        cursor: pointer;
        font-size: 12px;
        line-height: 1;
        font-weight: 700;
        @include flex-center;
        color: #000;
        background-color: transparent;
        transition: all 0.3s;
        border-radius: 50%;
        @media (any-hover: hover) {
            &:hover {
                background-color: $lightBlue;
                color: #fff;
            }
        }
        @media (max-width: $smallPhone + px) {
            @include size(37);
            font-size: 10px;
        }
    }
    // .pagination__button--disabled
    &__button--disabled {
        cursor: not-allowed;
        color: #939598;
        &::before {
            color: #939598;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: #e1e1e1;
            }
        }
    }
    // .pagination__button--active
    &__button--active {
        background-color: #273992;
        color: #fff;
    }
    &__button-prev,
    &__button-next {
        color: #273992;
        &::before {
            content: "\e900";
            @extend %ic;
            font-size: 21px;
            @media (max-width: $smallPhone + px) {
                font-size: 16px;
            }
        }
    }
    &__button-prev {
        &::before {
            transform: rotate(180deg);
        }
    }
    // .pagination__button-next
    &__button-next {
    }
}
._section-title {
    font-family: "PhillippScript";
    font-weight: 400;
    font-size: 180px;
    line-height: math.div(213, 180);
    @include abetweenvalue("font-size", 180, 120, $phone, 60);
    text-align: center;
    color: $darkBlue;
    margin-bottom: 30px;
}
%blurry-dot {
    position: absolute;
    content: "";
    @include avalue("width", 793, 327);
    @include avalue("height", 793, 327);
    background: rgba(52, 131, 199, 0.2);
    // filter: blur(264px);
    filter: blur(150px);
    border-radius: 50%;
    z-index: 1;
}
%blurry-dots {
    position: relative;
    &::before {
        @extend %blurry-dot;
        left: -60%;
        left: 0;
        top: 50%;
        transform: translate(-75%, -75%);
        @media (max-width: $phone + px) {
            // @include size(300);
            left: -70%;
            // filter: blur(100px);
            // transform: translate(0, 0);
        }
        @media (max-width: $smallPhone + px) {
            left: -50%;
        }
    }
    &::after {
        @extend %blurry-dot;
        bottom: 0;
        right: -60%;
    }
}
.start-block {
    @include abetweenvalue("width", 390, 212, $phone, 168);
    @include abetweenvalue("height", 390, 212, $phone, 168);
    border-radius: 50%;
    @include flex-center;
    flex-direction: column;
    z-index: 5;
    text-align: center;
    position: relative;
    &::before {
        content: "";
        width: pc(349, 390);
        height: pc(433, 390);
        @include abs-center;
        border: 3px solid $lightBlue;
        border-radius: 50%;
    }
    // .start-block__title
    &__title {
        font-family: PhillippScript;
        @include abetweenvalue("font-size", 52, 24, $phone, 18);
        line-height: math.div(61, 52);
        color: $darkBlue;
        @media (max-width: $phone + px) {
            margin-bottom: 10px;
        }
    }
    // .start-block__sub-title
    &__sub-title {
        @include abetweenvalue("font-size", 20, 12, $phone, 10);
        line-height: 1.5;
        max-width: 80%;
    }
    // .start-block__start-button
    &__start-button {
        margin-top: 19px;
        @media (max-width: $phone + px) {
            margin-top: 15px;
        }
        @media (max-width: $smallPhone + px) {
            margin-top: 10px;
        }
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        // display: none;
    }
}

br.responsive {
    display: none;
}
.nobr {
    white-space: pre;
}
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
