button {
   border: none;
   background-color: transparent;
   cursor: pointer;
   color: inherit;
}
input,
textarea {
   font-weight: inherit;
   background-color: inherit;
   font-size: inherit;
   line-height: inherit;
   font-weight: inherit;
   &::placeholder {
      font-size: inherit;
   }
   &:-webkit-autofill,
   &:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
   }
}
textarea {
   display: block;
}
a {
   color: inherit;
}
th {
   text-align: left;
   font-weight: inherit;
}
[data-spoiler] {
   cursor: pointer;
}
[class*="image-sprite"] {
   display: none;
}
[class*="__title"] {
   @include avalue("font-size", 40, 20);
   line-height: math.div(49, 40);
   font-weight: 600;
   @include avalue("margin-bottom", 50, 30);
}
[class*="__title--smaller"] {
   @include avalue("font-size", 26, 20);
   line-height: 1.4;
   font-weight: 600;
}
[class*="main-text"] {
   font-size: rem(20);
   line-height: 1.5;
   font-weight: 500;
   p {
      &:not(:last-child) {
         margin-bottom: em(15, 20);
      }
   }
   @media (max-width: 660px) {
      font-size: rem(16);
      font-weight: 400;
      line-height: 1.4;
      flex: 0 0 100%;
      p {
         &:not(:last-child) {
            margin-bottom: em(10, 16);
         }
      }
   }
}
[class*="right-col"] {
   padding-left: rem(65);
   flex: 0 0 pc(550 + 65, $maxWidthContainer);
   @media (max-width: 767px) {
      padding-left: 0;
   }
}

[class*="__input"] {
   transition: border-color 0.15s;
   &[aria-invalid="true"] {
      border-color: red;
   }
}
[class*="__field"] {
   position: relative;
   &:focus-within {
      &::before {
         content: "";
         position: absolute;
         outline: 2px solid rgba(#ffee00, 0.5);
         border-radius: 10px;
         top: 0px;
         left: -10px;
         bottom: 0px;
         right: -10px;
         pointer-events: none;
      }
   }
}
::selection {
   background-color: #fcf37a;
}
._section-title {
   font-family: "PhillippScript";
   font-weight: 400;
   font-size: 180px;
   line-height: math.div(213, 180);
   @include aminvalue("font-size", 180, 120, $tablet);
   @include aminvalue("font-size", 120, 60, 320);
   text-align: center;
   color: $darkBlue;
}
.button {
   padding: em(21, 20);
   font-size: rem(20);
   line-height: math.div(28, 20);
   font-weight: 600;
   border: 1px solid $mainPink;
   color: #fff;
   background-color: $mainPink;
   border-radius: em(100, 20);
   transition: background-color 0.2s;
   @media (any-hover: hover) {
      &:hover {
         color: $mainPink;
         background-color: #fff;
      }
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
      // display: none;
   }
}

.header-burger-button {
   opacity: 0.8;
   font-weight: 600;
   display: flex;
   align-items: center;
   font-size: inherit;
   line-height: inherit;
   height: 24px;
   white-space: nowrap;
   .burger-lines {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 34px;
      height: 21px;
      span {
         height: 1px;
         opacity: 1;
         width: 34px;
         background-color: #fff;
         &:nth-child(2) {
            width: 26px;
         }
         &:nth-child(3) {
            width: 30px;
         }
      }
   }
   .burger-text {
      margin-left: 5px;
   }
}
br.responsive {
   display: none;
}

.input-wrapper {
   border: 1px solid #828282;
   border-radius: 4px;
   // height: 50px;
   height: 48px; // to accomodate border
   .input-container {
      padding: 13px 15px;
      position: relative;
   }
   input {
      border: none;
      height: 24px;
      line-height: 24;
      padding: 13px 15px;
      margin: 0;
      padding: 0;
      background-color: transparent;
      &[type="date"] {
         position: relative;
      }
      &[type="date"]::after {
         // content: "\e901";
         font-family: icons;
         width: 18px;
         height: 18px;
         font-size: 18px;
         color: #389ae0;
         line-height: 1;
         position: absolute;
         right: 20px;
         top: 50%;
         transform: translateY(-50%);
      }
   }
   .input-title {
      float: left;
      margin-top: -8px;
      margin-left: 22px;
      padding: 0 1px;
      font-size: 14px;
      line-height: 1;
      color: rgba(7, 39, 62, 0.6);
      background-color: #fff;
      // anulling .popup label
      padding-top: 0;
      margin-bottom: 0;
      font-weight: 400;
   }
}
.nobr {
   white-space: pre;
}
._ibg {
   position: relative;
   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}
body.ie {
   ._ibg {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
   }
   ._ibg img {
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
   }
}

.row:after {
   display: block;
   content: "";
   clear: both;
}
.rub:after {
   content: "\u20BD";
}
%noselect {
   user-select: none;
}
%center {
   display: flex;
   justify-content: center;
   align-items: center;
}
