button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}
input,
textarea {
    font-weight: inherit;
    background-color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    &::placeholder {
        font-size: inherit;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
}
textarea {
    display: block;
}
a {
    color: inherit;
}
th {
    text-align: left;
    font-weight: inherit;
}
address {
    font-style: normal;
}
[data-spoiler] {
    cursor: pointer;
}
* {
    &::before,
    &::after {
        pointer-events: none;
    }
}
[class*="__input"] {
    transition: border-color 0.15s;
    &[aria-invalid="true"] {
        border-color: red;
    }
}
[class*="__field"] {
    position: relative;
    &:focus-within {
        &::before {
            content: "";
            position: absolute;
            outline: 2px solid rgba(#ffee00, 0.5);
            border-radius: 10px;
            top: 0px;
            left: -10px;
            bottom: 0px;
            right: -10px;
        }
    }
}
::selection {
    background-color: #fcf37a;
    color: $darkBlue;
}
.breadcrumbs {
    @include flex-center;
    flex-wrap: wrap;
    color: #fff;
    font-size: 10px;
    line-height: 1.4;
    position: relative;
    z-index: 10;
    &__list-item {
        // outline: 1px solid yellow;
        gap: 5px;
        padding-left: 5px;
        @include flex-center;
        &:first-child {
            .breadcrumbs__link {
                display: flex;
                align-items: center;
                gap: 5px;
                &::before {
                    content: "\e905";
                    font-size: 10px;
                    @extend %ic;
                    margin-bottom: 3px;
                }
            }
        }
        &:not(:last-child) {
            &::after {
                content: "\e906";
                font-size: 5px;
                @extend %ic;
                margin-bottom: 2px;
            }
        }
        &:last-child {
            opacity: 0.5;
            padding-left: 5px;
        }
    }
    &__link {
        // padding: 0 8px;
        // outline: 2px solid red;
    }
}
._error-list {
    text-align: left;
    margin-left: 11px;
    color: #f55;
    font-weight: 700;
    opacity: 0;
    min-height: 1em * 1.2;
    line-height: 1.2;
    transition: all 0.3s;
    margin-top: 2px;
    @include avalue("font-size", 16, 10);
    @media (max-width: $smallPhone + px) {
        margin-left: 9px;
    }
    li {
    }
    &--visible {
        opacity: 1;
    }
}
._light-button {
    @extend %button;
    color: $lightBlue;
    background-color: #fff;
}
._dark-button {
    @extend %button;
    background: linear-gradient(75.62deg, #009ee2 7.02%, #273992 91.67%);
    color: #fff;
}

%fabric {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -2;
    transform: translate(-50%, 10%);
    background: center top no-repeat url(../../img/about-us/fabric.png);
    @media (min-width: $maxWidth + 1+ px) {
        background-size: cover;
    }
}
%button {
    // height: 60px; // 25
    font-family: Raleway;
    line-height: math.div(19, 16);
    font-weight: 700;
    @include abetweenvalue("font-size", 16, 10, $phone, 8);
    @include abetweenvalue("padding-top", 24, 13, $phone, 10);
    @include abetweenvalue("padding-bottom", 24, 13, $phone, 10);
    @include abetweenvalue("padding-left", 70, 25, $phone, 20);
    @include abetweenvalue("padding-right", 70, 25, $phone, 20);
    border-radius: 60px;
    text-transform: uppercase;
    z-index: 2;
}
._arrow-button {
    text-transform: uppercase;
    color: $darkBlue;
    font-weight: 700;
    @include aminvalue("font-size", 16, 12, $phone);
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: $phone + px) {
        font-size: 10px;
    }
    span {
        margin-left: -10px;
    }
    &::before {
        content: "\e900";
        @include aminvalue("font-size", 34, 20, $phone);
        @include aminvalue("height", 98, 58, $phone);
        @include aminvalue("width", 98, 58, $phone);
        border-radius: 50%;
        @extend %ic;
        @include flex-center;
        background: center / contain no-repeat url(../../img/incomplete-circle.png);
        @media (max-width: $phone + px) {
            @include size(50);
            font-size: 17px;
        }
    }
}
._no-arrow-button {
    text-transform: uppercase;
    color: $darkBlue;
    font-weight: 700;
    @include aminvalue("font-size", 16, 12, $phone);
    position: relative;
    display: flex;
    align-items: center;
    align-self: end;
    font-size: 12px;
    gap: 10px;
    &::before {
        content: "\e900";
        display: block;
        font-size: 19px;
        @include size(21);
        border-radius: 50%;
        @extend %ic;
        @media (max-width: $phone + px) {
        }
    }
}
.menu {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px 25px;
        font-size: 13px;
        line-height: math.div(15, 13);
        text-transform: uppercase;
    }
    &__link {
        transition: color 0.3s, border-color 0.3s;
    }
}
.social-list {
    display: flex;
    column-gap: 7px;
    @extend %ic;
    // .social-list__link
    &__link {
        font-size: 11px;
        line-height: 1;
        @include size(28);
        flex: 0 0 28px;
        @include flex-center;
        border: 1px solid;
        border-radius: 50%;
        transition: color 0.3s;
    }
}
[class*="__text-list-item"] {
    position: relative;
    margin-left: 15px;
    &::before {
        content: "";
        @include size(6);
        position: absolute;
        left: 0;
        top: 5px;
        margin-left: -15px;
        border-radius: 50%;
        background-color: #e1e1e1;
    }
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
[class*="__slider"],
[calss*="-slider"] {
    .swiper-wrapper {
        display: flex;
        align-items: start;
    }
    .swiper-slide {
        flex: 0 0 100%;
        opacity: 0.1;
        transition: opacity 0.5s;
        // outline: 5px solid rgba(lightblue, 0.3);
        &-active {
            opacity: 1;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        @include size(75);
        border-radius: 50%;
        color: $lightBlue;
        border: 1px solid;
        position: absolute;
        top: 50%;
        cursor: pointer;
        transform: translate(0, -50%);
        &::before {
            transition: all 0.3s;
            content: "\e900";
            @extend %ic;
            @include abs-center;
            font-size: 34px;
            text-align: center;
        }
        @media (max-width: $phone + px) {
            @include size(65);
            &::before {
                font-size: 24px;
            }
        }
        @media (max-width: 700 + px) {
            @include size(55);
        }
        @media (max-width: $smallPhone + px) {
            @include size(42);
            &::before {
                font-size: 15px;
            }
        }
        @media (any-hover: hover) {
            &:hover {
                // color: $darkBlue;
            }
        }
    }
    .swiper-button-prev {
        left: -75 - 23px;
        @media (max-width: 700 + px) {
            left: 0;
            transform: translate(-120%, 0%);
        }
        &::before {
            transform: translate(-50%, -50%) rotate(180deg);
        }
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    transform: translate(-50%, -50%) rotate(180deg) scale(1.1);
                }
            }
        }
    }
    .swiper-button-next {
        right: -75 - 23px;
        @media (max-width: 700 + px) {
            right: 0;
            transform: translate(120%, 0%);
        }
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    transform: translate(-50%, -50%) scale(1.1);
                }
            }
        }
    }
}
.swiper-pagination {
    @include flex-center;
    column-gap: 26px;
    margin: 40px auto;
    height: 30px;
    position: relative;
    z-index: 4;
    // max-width: 170px;
    // outline: 1px solid purple;
    text-align: center;
    @media (max-width: $smallPhone + px) {
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        display: block;
    }
    @media (max-width: $smallPhone + px) {
        margin: 20px auto;
    }
    &-bullet {
        transition: all 0.5s;
        @include size(20);
        flex: 0 0 20px;
        border-radius: 50%;
        background-color: #e1e1e1;
        cursor: pointer;
        border: 4px solid #e1e1e1;
        @media (max-width: $smallPhone + px) {
            position: relative;
            text-align: center;
            display: inline-block;
            margin: auto 13px;
            @include size(30);
            transform: scale(math.div(20, 30));
        }
        &-active {
            @include size(24);
            flex: 0 0 24px;
            border-width: 4px;
            border-color: $lightBlue;
            @media (max-width: $smallPhone + px) {
                @include size(30);
                transform: none;
            }
        }
    }
}

._inner-page {
    .first-screen {
        position: relative;
        color: #fff;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        @include abetweenvalue("height", 416, 278, $phone, 200);
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            // outline: 5px solid red;
            bottom: -6px;
            height: 245px;
            width: 1440px;
            background: center top no-repeat url(../../img/first-screen/gradient-line.svg);
            z-index: 1;
            @media (max-width: $phone + px) {
                bottom: -113px;
                width: 100%;
                background: center top no-repeat
                    url(../../img/first-screen/gradient-line-tablet.svg);
            }
        }
        // .first-screen__container
        &__container {
            position: relative;
            overflow: hidden;
        }
        // .first-screen__image
        &__image {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 1440px;
            @media (max-width: $phone + px) {
                width: 768px;
                height: 100%;
                object-fit: cover;
            }
        }
        // .first-screen__title
        &__title {
            margin-top: 128px;
            line-height: 1.18;
            text-align: center;
            position: relative;
            z-index: 1;
            font-family: PhillippScript;
            @include abetweenvalue("font-size", 100, 60, $phone, 48);
            @media (max-width: $phone + px) {
                margin-top: 60px;
            }
        }
    }
}
._single-page {
    .first-screen {
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__breadcrumbs {
            margin-top: 24px;
            @media (max-width: $smallPhone + px) {
                margin-top: 18px;
            }
        }
        &__time {
            margin-top: 20px;
            font-size: 14px;
            line-height: 1.4;
            opacity: 0.5;
            position: relative;
            z-index: 10;
            @media (max-width: $smallPhone + px) {
                font-size: 10px;
            }
        }
        &__title {
            @include abetweenvalue("font-size", 60, 48, $phone, 24);
            @include avalue("margin-top", 20, 10);
        }
        &__info {
            @include abetweenvalue("font-size", 18, 12, $phone, 8);
            // @include avalue("margin-top", -25, 0);
            line-height: math.div(26, 18);
            font-weight: 700;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                display: block;
            }
        }
        &__button {
            @include avalue("margin-top", 25, 8);
            @include abetweenvalue("padding-left", 90, 50, $phone, 37);
            @include abetweenvalue("padding-right", 90, 50, $phone, 37);
        }
    }
}
.pagination {
    display: flex;
    justify-content: center;
    // .pagination__list
    &__list {
        display: flex;
        gap: 18px;
        @media (max-width: $smallPhone + px) {
            gap: 16px;
        }
    }
    // .pagination__item
    &__item {
    }
    // .pagination__button
    &__button {
        @include size(47);
        cursor: pointer;
        font-size: 12px;
        line-height: 1;
        font-weight: 700;
        @include flex-center;
        color: #000;
        background-color: transparent;
        transition: all 0.3s;
        border-radius: 50%;
        @media (any-hover: hover) {
            &:hover {
                background-color: $lightBlue;
                color: #fff;
            }
        }
        @media (max-width: $smallPhone + px) {
            @include size(37);
            font-size: 10px;
        }
    }
    // .pagination__button--disabled
    &__button--disabled {
        cursor: auto;
        color: #939598;
        &::before {
            color: #939598;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: #e1e1e1;
            }
        }
    }
    // .pagination__button--active
    &__button--active {
        background-color: #273992;
        color: #fff;
    }
    &__button-prev,
    &__button-next {
        color: #273992;
        &::before {
            content: "\e900";
            @extend %ic;
            font-size: 21px;
            @media (max-width: $smallPhone + px) {
                font-size: 16px;
            }
        }
    }
    &__button-prev {
        &::before {
            transform: rotate(180deg);
        }
    }
    // .pagination__button-next
    &__button-next {
    }
}
._section-title {
    font-family: "PhillippScript";
    font-weight: 400;
    font-size: 180px;
    line-height: math.div(213, 180);
    @include abetweenvalue("font-size", 180, 120, $phone, 60);
    text-align: center;
    color: $darkBlue;
}
%blurry-dot {
    position: absolute;
    content: "";
    // @include size(793);
    @include avalue("width", 793, 327);
    @include avalue("height", 793, 327);
    background: rgba(52, 131, 199, 0.2);
    // filter: blur(264px);
    filter: blur(150px);
    border-radius: 50%;
}
%blurry-dots {
    position: relative;
    &::before {
        @extend %blurry-dot;
        left: -60%;
        left: 0;
        top: 50%;
        transform: translate(-75%, -75%);
        @media (max-width: $phone + px) {
            // @include size(300);
            left: -70%;
            // filter: blur(100px);
            // transform: translate(0, 0);
        }
        @media (max-width: $smallPhone + px) {
            left: -50%;
        }
    }
    &::after {
        @extend %blurry-dot;
        bottom: 0;
        right: -60%;
    }
}
.start-block {
    @include abetweenvalue("width", 390, 212, $phone, 168);
    @include abetweenvalue("height", 390, 212, $phone, 168);
    border-radius: 50%;
    @include flex-center;
    flex-direction: column;
    z-index: 5;
    text-align: center;
    position: relative;
    &::before {
        content: "";
        width: pc(349, 390);
        height: pc(433, 390);
        @include abs-center;
        border: 3px solid $lightBlue;
        border-radius: 50%;
    }
    // .start-block__title
    &__title {
        font-family: PhillippScript;
        @include abetweenvalue("font-size", 52, 24, $phone, 18);
        line-height: math.div(61, 52);
        color: $darkBlue;
        @media (max-width: $phone + px) {
            margin-bottom: 10px;
        }
    }
    // .start-block__sub-title
    &__sub-title {
        @include abetweenvalue("font-size", 20, 12, $phone, 10);
        line-height: 1.5;
        max-width: 80%;
    }
    // .start-block__start-button
    &__start-button {
        margin-top: 19px;
        @media (max-width: $phone + px) {
            margin-top: 15px;
        }
        @media (max-width: $smallPhone + px) {
            margin-top: 10px;
        }
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        // display: none;
    }
}

.header-burger-button {
    opacity: 0.8;
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: inherit;
    line-height: inherit;
    height: 24px;
    white-space: nowrap;
    .burger-lines {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 34px;
        height: 21px;
        span {
            height: 1px;
            opacity: 1;
            width: 34px;
            background-color: #fff;
            &:nth-child(2) {
                width: 26px;
            }
            &:nth-child(3) {
                width: 30px;
            }
        }
    }
    .burger-text {
        margin-left: 5px;
    }
}
br.responsive {
    display: none;
}

.input-wrapper {
    border: 1px solid #828282;
    border-radius: 4px;
    // height: 50px;
    height: 48px; // to accomodate border
    .input-container {
        padding: 13px 15px;
        position: relative;
    }
    input {
        border: none;
        height: 24px;
        line-height: 24;
        padding: 13px 15px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        &[type="date"] {
            position: relative;
        }
        &[type="date"]::after {
            // content: "\e901";
            font-family: icons;
            width: 18px;
            height: 18px;
            font-size: 18px;
            color: #389ae0;
            line-height: 1;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .input-title {
        float: left;
        margin-top: -8px;
        margin-left: 22px;
        padding: 0 1px;
        font-size: 14px;
        line-height: 1;
        color: rgba(7, 39, 62, 0.6);
        background-color: #fff;
        // anulling .popup label
        padding-top: 0;
        margin-bottom: 0;
        font-weight: 400;
    }
}
.nobr {
    white-space: pre;
}
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
body.ie {
    ._ibg {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    ._ibg img {
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
}

.row:after {
    display: block;
    content: "";
    clear: both;
}
.rub:after {
    content: "\u20BD";
}
%noselect {
    user-select: none;
}
%center {
    display: flex;
    justify-content: center;
    align-items: center;
}
