.news-content {
    position: relative;
    &::before {
        @extend %fabric;
        transform: translate(-50%, -50%) scaleX(-1);
        background-position: center;
        opacity: 0.5;
    }
    @media (max-width: $smallPhone + px) {
        padding: 20px 0;
    }
    // .news-content__container
    &__container {
        &::before {
        }
        &::after {
            bottom: auto;
            top: 0%;
        }
        // outline: 1px solid red;
        @media (max-width: $phone + px) {
            padding: 0 40px;
        }
        @media (max-width: $smallPhone + px) {
            padding: 0 16px;
        }
    }

    // .news-content__slider
    &__slider {
    }
    &__main-slider-wrapper {
    }
    // .news-content__main-slider
    &__main-slider {
    }
    // .news-content__thumbs-slider
    &__thumbs-slider {
    }
    // .news-content__text-list
}
