.awards {
    margin: 100px 0 50px;
    position: relative;
    &::before {
        @extend %fabric;
        transform: translate(-50%, 0) scaleX(-1);
        opacity: 0.9;
    }
    @media (max-width: $phone + px) {
        margin: 60px 0 0px;
    }
    @media (max-width: $smallPhone + px) {
        margin: 40px 0 10px;
    }
    // .awards__container
    &__container {
        max-width: 605px * 3 + 130px * 2;
        overflow: hidden;
    }
    &__title {
        margin-bottom: 60px;
    }
    // .awards__slider
    &__slider {
        width: pc(605, 1235);
        max-width: 605px;
        margin: 0 auto;
        position: relative;
        @media (max-width: 1024 + px) {
            width: 66%;
        }
        @media (max-width: $phone + px) {
            width: 75%;
        }
        @media (max-width: $smallPhone + px) {
            width: 96%;
        }
        .swiper-wrapper {
            position: relative;
            z-index: 3;
        }
        .swiper-slide {
            @media (min-width: 768.02px) {
                opacity: 0.3;
                transition: opacity .3s, filter .3s;
                filter: blur(5px);
                &-active {
                    opacity: 1;
                    filter: none;
                }
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            z-index: -1;
            transform: translate(0, calc(-50% - 54px));
            @media (max-width: $smallPhone + px) {
                display: none;
            }
        }
        .swiper-button-prev {
            @media (max-width: 1024 + px) {
                left: 0;
                transform: translate(-120%, calc(-50% - 54px));
            }
            @media (max-width: $phone + px) {
                transform: translate(-110%, calc(-50% - 54px));
            }
        }
        .swiper-button-next {
            @media (max-width: 1024 + px) {
                right: 0;
                transform: translate(120%, calc(-50% - 54px));
            }
            @media (max-width: $phone + px) {
                transform: translate(110%, calc(-50% - 54px));
            }
        }
        .swiper-pagination {
            // position: absolute;
            // left: 50%;
            // bottom: 0;
            // transform: translate(-50%, 0);
            // max-width: 170px;
        }
    }
    // .awards__award
    &__award {
    }
}

.award {
    color: #000;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 0 36px 60px;
    border: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $smallPhone + px) {
        padding: 0 22px 32px;
    }
    // .award__image
    &__image {
        border-radius: 20px;
        margin-bottom: 20px;
        @include size(160, 105);
        margin-top: -56px;
    }
    // .award__title
    &__title {
        font-size: 16px;
        line-height: math.div(19, 16);
        font-weight: 700;
        text-align: center;
        margin-bottom: 23px;
    }
    // .award__text
    &__text {
        font-size: 12px;
        line-height: 1.5;
    }
}
