<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__item">
            <button class="pagination__button pagination__button--disabled pagination__button-prev" aria-label="Go to the previous page"></button>
        </li>
        <li class="pagination__item">
            <button class="pagination__button pagination__button--active">1</button>
        </li>
        <li class="pagination__item">
            <button class="pagination__button">2</button>
        </li>
        <li class="pagination__item">
            <button class="pagination__button">3</button>
        </li>
        <li class="pagination__item">
            <button class="pagination__button">4</button>
        </li>
        <li class="pagination__item">
            <button class="pagination__button pagination__button-next" aria-label="Go to the next page"></button>
        </li>
    </ul>
</div>
