<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__item">
            <a class="pagination__button pagination__button--disabled pagination__button-prev" aria-label="Go to the previous page"></a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__button pagination__button--active">1</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__button">2</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__button">3</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__button">4</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__button pagination__button-next" aria-label="Go to the next page"></a>
        </li>
    </ul>
</div>
