<div class="_single-page__slider">
    <div class="_single-page__main-slider-wrapper">
        <div class="swiper-button-prev-wrapper">
            <div class="swiper-button-prev"></div>
        </div>
        <div class="_single-page__main-slider">
            <div class="swiper-wrapper">
                @@for(var i = 0; i < filenames.length; i++){
                    <div class="swiper-slide">
                        <img src="`+ mainPath + filenames[i] +`" alt="">
                    </div>
                } 
            </div>
        </div>
        <div class="swiper-button-next-wrapper">
            <div class="swiper-button-next"></div>
        </div>
    </div>
    @@if(thumbsPath) {
    <div class="_single-page__thumbs-slider-wrapper">
        <div class="swiper-button-prev-wrapper"></div>
        <div class="news-content__thumbs-slider _single-page__thumbs-slider">
            <div class="swiper-wrapper">
                @@for(var i = 0; i < filenames.length; i++){
                    <div class="swiper-slide">
                        <img src="`+ thumbsPath + filenames[i] +`" alt="">
                    </div>
                }
            </div>
        </div>
        <div class="swiper-button-next-wrapper"></div>
    </div>
    }
</div>
