.about-us {
    margin-top: 50px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: translate(-50%, 10%);
        background: center top / cover no-repeat url(../../img/about-us/fabric.png);
    }
    // .about-us__container
    &__container {
    }
    // .about-us__title
    &__title {
    }
    // .about-us__body
    &__body {
        display: flex;
        column-gap: 30px;
        @media (max-width: $smallPhone + px) {
            flex-direction: column;
        }
    }
    // .about-us__text
    &__text {
        flex: 0 0 pc(400, $maxWidthContainer);
        position: relative;
        &::before {
            @extend %blurry-dot;
            left: pc(-621 - 793, 793);
            top: 50%;
            transform: translate(0, -65%);
            @media (max-width: $phone + px) {
                // @include size(300);
                left: -70%;
                // filter: blur(100px);
                // transform: translate(0, 0);
            }
            @media (max-width: $smallPhone + px) {
                left: -50%;
            }
        }
    }
    // .about-us__text-content
    &__text-content {
        font-size: 14px;
        line-height: math.div(23.8, 14);
    }
    // .about-us__text-learn-more
    &__text-button {
        margin-top: 42px;
        @media (max-width: $smallPhone + px) {
            margin-top: 15px;
        }
    }
    // .about-us__features
    &__features {
        flex-grow: 1;
    }
    // .about-us__feature-list
    &__feature-list {
        position: relative;
        height: 540px;
        margin-top: -30px;
        // display: grid;
        // grid-template-rows: pc(245, 538) pc(538 - 245, 538);
        // grid-template-columns: pc(280, 815) pc(815 - 280, 815);
        @media (max-width: 1000 + px) {
            height: 340px;
        }
        @media (max-width: 700 + px) {
            height: 400px;
        }
        @media (max-width: $smallPhone + px) {
            height: 430px;
        }
    }
    // .about-us__feature-item
    &__feature-item {
        position: absolute;
        $listWidth: 815;
        $listHeight: 540;
        &:nth-of-type(1) {
            top: 0;
            left: pc(109, $listWidth);
        }
        &:nth-of-type(2) {
            top: pc(50, $listHeight);
            left: pc(420, $listWidth);
        }
        &:nth-of-type(3) {
            top: pc(243, $listHeight);
            left: pc(0, $listWidth);
        }
        &:nth-of-type(4) {
            top: pc(345, $listHeight);
            left: pc(318, $listWidth);
        }
        &:nth-of-type(5) {
            bottom: pc(50, $listHeight);
            right: 0;
        }
        @media (max-width: 700 + px) {
            $listHeight: 430;
            $listWidth: 290;
            &:nth-of-type(1) {
                top: pc(79, $listHeight);
                left: 0;
            }
            &:nth-of-type(2) {
                top: auto;
                bottom: pc(76, $listHeight);
                left: pc(15, $listWidth);
            }
            &:nth-of-type(3) {
                top: 0;
                right: pc(15, $listWidth);
                left: auto;
            }
            &:nth-of-type(4) {
                top: 50%;
                right: 0;
                left: auto;
                transform: translate(0, -50%);
            }
            &:nth-of-type(5) {
                bottom: 0;
                left: auto;
                right: pc(15, $listWidth);
            }
        }
    }
}

.feature {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 15px 45px rgba(7, 55, 115, 0.1);
    border-radius: 10px;
    width: 185px;
    @media (max-width: 1000 + px) {
        width: 116px;
    }
    // .feature_image
    &_image {
        @include size(185, 125);
        border-radius: 10px 10px 0 0;
        @media (max-width: 1000 + px) {
            @include size(116, 78);
        }
    }
    // .feature__text
    &__text {
        font-weight: 700;
        line-height: math.div(18, 14);
        text-transform: uppercase;
        color: #000;
        font-size: 14px;
        padding: 13px 16px 28px;
        border-radius: 0 0 10px 10px;
        @media (max-width: 1000 + px) {
            font-size: 10px;
            padding: 7px 2px 10px 10px;
        }
    }
}
