.header {
    // @include avalue("height", 86, 41);
    overflow-x: clip;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 40;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
    @media (max-width: $phone + px) {
        padding-top: 4px;
    }
    // .header__container
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px 40px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: -57px;
            bottom: -13px;
            height: 16px;
            width: 100vw;
            background-color: #fff;
            transform: translate(-100%, 0);
            box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.1);
        }
    }
    // .header__link
    &__logo {
        margin-top: 15px;
        margin-bottom: -7px;
        @include avalue("width", 328, 132);
        // @include avalue("height", 80, 32);
        z-index: 1;
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__swosh {
        position: absolute;
        left: -61px;
        bottom: 3px;
        height: 41px;
        width: 433px;
        transform: translate(0, 100%);
        z-index: -1;
        filter: drop-shadow(0 3px 2px rgb(0 0 0 / 0.1));
        @media (max-width: $phone + px) {
            width: 340px;
            height: 30px;
        }
    }
    &__logo-image {
    }
    // .header__menu
    &__menu {
        flex-grow: 1; // .menu__item
        .menu__list {
            justify-content: end;
            gap: 15px;
            @media (max-width: $phone + px) {
                width: 100%;
                flex-direction: column;
                text-align: center;
                position: relative;
                padding-bottom: 40px;
                margin-bottom: 24px;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 36px;
                    background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" preserveAspectRatio="none" viewBox="0 0 320000 37000"><path d="M723 836 519 8934c85857 4532 157840 24296 252753 26984 30052 672 47456-1047 106118-7545l12-468-1277 110c-61618 5316-79332 6687-109758 5310-30324-1544-58035-4782-84553-8685-29177-4297-56840-9392-84837-13915C53614 6610 27970 2985 723 836Z" fill="url(%23a)"/><defs><linearGradient id="a" x1="374463" x2="343365" y1="24418" y2="-84955" gradientUnits="userSpaceOnUse"><stop stop-color="%23009EE2"/><stop offset="1" stop-color="%23273992"/></linearGradient></defs></svg>');
                }
            }
        }
        .menu__item {
        }
        .menu__link {
            border-bottom: 2px solid transparent;
            padding: 5px;
            @media (max-width: $phone + px) {
                padding: 10px 5px;
                display: block;
                border-color: transparent;
            }
            &--active {
                color: $lightBlue;
                &::before {
                    background-color: $lightBlue;
                    @media (max-width: $phone + px) {
                        background-color: transparent;
                    }
                }
            }
            @media (any-hover: hover) {
                &:hover {
                    color: $lightBlue;
                    &::before {
                        background-color: $lightBlue;
                    }
                }
            }
        }
    }

    // .header__social-list
    &__social-list {
        color: $darkGray;
        .social-list__link {
            @media (any-hover: hover) {
                &:hover {
                    color: $darkGrayHover;
                }
            }
        }
        @media (max-width: $phone  + px) {
            margin-left: auto;
        }
        @media (max-width: 500 + px) {
            margin: 0 auto;
            column-gap: 40px;
        }
    }
    // .header__navigation
    &__navigation {
        position: fixed;
        left: 0;
        top: 45px;
        width: 100%;
        height: 100%;
        overflow: auto;
        transform: translate(-100%, 0);
        transition: transform 0.3s;
        z-index: 10;
        background-color: rgba(#000, 0.6);
        @media (max-width: $smallPhone + px) {
            top: 35px;
        }
    }
    &__navigation-inner {
        padding: 40px 0 40px 0;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }
}
.menu--open {
    overflow: hidden;
    header {
        font-size: 18px;
    }
    .header__navigation {
        transform: translate(0%, 0);
        &::before {
            content: "";
        }
    }
}
.icon-menu {
    display: none;
    @media (max-width: $phone + px) {
        display: block;
        position: relative;
        @include size(30, 15);
        flex: 0 0 30px;
        cursor: pointer;
        z-index: 5;
        span,
        &::before,
        &::after {
            content: "";
            @include transition;
            position: absolute;
            right: 0;
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: $darkBlue;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
            width: pc(21, 30);
        }
        span {
            top: calc(50% - 1px);
        }
        .menu--open & {
            span {
                transform: scale(0);
            }
            &::before {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
            }
            &::after {
                transform: rotate(45deg);
                top: calc(50% - 1px);
                width: 100%;
            }
        }
    }
}
