.header {
    @include avalue("height", 86, 41);
    padding-top: 15px;
    overflow-x: clip;
    @media (max-width: $phone + px) {
        padding-top: 4px;
    }
    // .header__container
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px 40px;
    }
    // .header__link
    &__logo {
        margin-bottom: -7px;
        @include avalue("width", 328, 132);
        // @include avalue("height", 80, 32);
        z-index: 1;
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            left: -61px;
            bottom: 41 - 35px + 7;
            height: 41px;
            width: 433px;
            transform: translate(0, 100%);
            background: no-repeat url(../../img/header/swosh.svg);
            background-position: center;
            z-index: -1;
            @media (max-width: $phone + px) {
                width: 340px;
                height: 30px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 16px;
            width: 100vw;
            background-color: #fff;
            transform: translate(-100%, 3px);
        }
    }
    &__logo-image {
    }
    // .header__menu
    &__menu {
        flex-grow: 1; // .menu__item
        .menu__list {
            justify-content: end;
            @media (max-width: $phone + px) {
                width: 100%;
                flex-direction: column;
                text-align: center;
                position: relative;
                padding-bottom: 40px;
                margin-bottom: 24px;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 36px;
                    background: no-repeat url(../../img/header/gradient-line.svg);
                }
            }
        }
        .menu__item {
        }
        .menu__link {
            border-bottom: 2px solid transparent;
            @media (max-width: $phone + px) {
                padding: 10px 0;
                display: block;
                border-color: transparent;
            }
            &--active {
                color: $lightBlue;
                border-color: $lightBlue;
                @media (max-width: $phone + px) {
                    border-color: transparent;
                }
            }
            @media (any-hover: hover) {
                &:hover {
                    color: $lightBlue;
                    border-color: $lightBlue;
                }
            }
        }
    }

    // .header__social-list
    &__social-list {
        color: $darkGray;
        .social-list__link {
            @media (any-hover: hover) {
                &:hover {
                    color: $darkGrayHover;
                }
            }
        }
        @media (max-width: $phone  + px) {
            margin-left: auto;
        }
        @media (max-width: 500 + px) {
            margin: 0 auto;
            column-gap: 40px;
        }
    }
    // .header__navigation
    &__navigation {
        position: fixed;
        left: 0;
        top: 45px;
        width: 100%;
        height: 100%;
        overflow: auto;
        transform: translate(-100%, 0);
        transition: transform 0.3s;
        z-index: 10;
        background-color: rgba(#000, 0.6);
        @media (max-width: $smallPhone + px) {
            top: 35px;
        }
    }
    &__navigation-inner {
        padding: 40px 0 40px 0;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }
}
.menu--open {
    overflow: hidden;
    header {
        font-size: 18px;
    }
    .header__navigation {
        transform: translate(0%, 0);
        &::before {
            content: "";
        }
    }
}
.icon-menu {
    display: none;
    @media (max-width: $phone + px) {
        display: block;
        position: relative;
        @include size(30, 15);
        flex: 0 0 30px;
        cursor: pointer;
        z-index: 5;
        span,
        &::before,
        &::after {
            content: "";
            @include transition;
            position: absolute;
            right: 0;
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: $darkBlue;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
            width: pc(21, 30);
        }
        span {
            top: calc(50% - 1px);
        }
        .menu--open & {
            span {
                transform: scale(0);
            }
            &::before {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
            }
            &::after {
                transform: rotate(45deg);
                top: calc(50% - 1px);
                width: 100%;
            }
        }
    }
}
