._single-page {
    main {
    }
    section {
        @include avalue("margin-top", 60, 10);
        @include avalue("margin-bottom", 60, 10);
        max-width: 100%;
        overflow-x: clip;
    }
    &__container {
        // max-width: 1026 + 300px;
        max-width: none;
        position: relative;
        @extend %blurry-dots;
    }
    &__body {
        color: #122735;
        font-size: 16px;
        line-height: math.div(27, 16);
        @media (max-width: $phone + px) {
            font-size: 14px;
        }
        & > * {
            max-width: 803px;
            margin: 0 auto;
        }
        p {
            &:not(:last-child) {
                margin-bottom: 30px;
                @media (max-width: $smallPhone + px) {
                    margin-bottom: 15px;
                }
            }
        }
    }
    &__sub-title {
        color: $darkBlue;
        font-size: 46px;
        line-height: math.div(54, 46);
        font-family: PhillippScript;
        margin-bottom: 25px;
        @media (max-width: $smallPhone + px) {
            margin-bottom: 15px;
            font-size: 32px;
        }
    }
    &__slider {
        max-width: none;
        &:not(:first-child) {
            @include avalue("margin-top", 60, 20);
        }
        &:not(:last-child) {
            @include avalue("margin-bottom", 60, 20);
        }
        // outline: 1px solid red;
        @media (max-width: $phone + px) {
            margin-top: 32px;
            margin-bottom: 32px;
        }
        @media (max-width: $smallPhone + px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__text-list {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__text-list-item {
        list-style-type: disc;
        &::before {
            display: none;
        }
        &:not(:last-child) {
            margin-bottom: 10px;
            @media (max-width: $smallPhone + px) {
                margin-bottom: 5px;
            }
        }
    }
    // .news-content__text-image
    &__text-image {
        width: 100%;
        max-width: 1026px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        img {
            border-radius: 20px;
            object-fit: cover;
            width: 100%;
            filter: drop-shadow(0px 15px 44px rgba(7, 55, 115, 0.1));
            height: 100%;
        }
        @media (max-width: $smallPhone + px) {
            margin-bottom: 25px;
        }
        &--left,
        &--right {
            width: pc(291, 803);
            img {
                filter: none;
            }
            ._single-page__text-image-caption {
                width: 100%;
                text-align: left;
            }
        }
        &--right {
            float: right;
            margin-left: 30px;
            margin-right: math.div($maxWidthContainer - 803px, -2);
            @media (max-width: 1320 + px) {
                margin-right: 0;
            }
            @media (max-width: $smallPhone + px) {
                margin-left: 10px;
            }
        }
        &--left {
            float: left;
            overflow: hidden;
            margin-right: 30px;
            margin-left: math.div($maxWidthContainer - 803px, -2);
            @media (max-width: 1320 + px) {
                margin-left: 0;
            }
            @media (max-width: $smallPhone + px) {
                margin-right: 10px;
            }
        }
    }
    &__text-image-caption {
        font-size: 10px;
        line-height: 1.6;
        text-align: right;
        // max-width: pc(513, 803);
        max-width: 553px;
        margin-top: 13px;
        display: block;
        align-self: end;
        @media (max-width: $smallPhone + px) {
            width: 100%;
            text-align: left;
        }
    }
}
