.start {
    margin-top: 60px;
    position: relative;
    padding-bottom: 120px;
    @media (max-width: $smallPhone + px) {
        margin-top: 50px;
        padding-bottom: 50px;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 50%;
        width: 100%;
        height: 100%;
        z-index: -2;
        transform: translate(-50%, -25%) scaleX(-1);
        background: center top no-repeat url(../../img/fabric.jpg);
        @media (max-width: $smallPhone + px) {
            transform: translate(-50%, -20%) scaleX(-1);
        }
        @media (min-width: $maxWidthContainer + px) {
            background-size: cover;
        }
    }
    // .start__container
    &__container {
        @media (max-width: $phone + px) {
            overflow-x: clip;
        }
    }
    // .start-block
    &__start-block {
        @include abetweenvalue("width", 457, 360, $phone, 294);
        @include abetweenvalue("height", 457, 360, $phone, 294);
        margin: 0 auto;
        background: linear-gradient(75.62deg, #009ee2 7.02%, #273992 91.67%);
        &::before {
            width: pc(396, 457);
            height: pc(482, 457);
            transform: translate(-50%, -50%) rotate(98.8deg);
            z-index: -2;
        }
        &::after {
            top: 50%;
            left: 50%;
            transform: translate(-40%, -50%);
            @extend %blurry-dot;
            z-index: -2;
        }
        .start-block__title {
            margin-top: 40px;
            margin-bottom: 20px;
            color: #fff;
            @include abetweenvalue("font-size", 52, 40, $phone, 30);
            @media (max-width: $phone + px) {
                margin-top: 30px;
                margin-bottom: 10px;
            }
            @media (max-width: $smallPhone + px) {
                // margin-top: 25px;
            }
        }
        .start-block__start-button {
            @include abetweenvalue("padding-top", 24, 19, $phone, 15);
            @include abetweenvalue("padding-bottom", 24, 19, $phone, 15);
            @include abetweenvalue("padding-left", 70, 57, $phone, 45);
            @include abetweenvalue("padding-right", 70, 57, $phone, 45);
        }
    }
}
.prices-page,
.classes-page {
    .start {
        &::before {
            transform: translate(-50%, -7%) scaleX(-1);
        }
        padding-bottom: 270px;
        .start__container {
            position: relative;
            &::before {
                @extend %blurry-dot;
                left: -50%;
                top: 0;
                @media (max-width: $phone + px) {
                    display: none;
                }
            }
        }
        .start-block {
            &::after {
                display: none;
            }
        }
    }
}
._single-page {
    .start {
        &::before {
            transform: translate(-50%, -7%) scaleX(-1);
        }
    }
}
