.news {
    padding-top: 50px;
    position: relative;
    &::before {
        @extend %fabric;
        transform: translate(-50%, -30%);
        background-position: center;
    }
    // .news__container
    &__container {
        max-width: 812px;
        @extend %blurry-dots;
        &::before {
            transform: translate(-105%, -25%);
        }
        &::after {
            transform: translate(60%, -80%);
        }
    }
    // .news__list
    &__list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    // .news__list-item
    &__list-item {
    }
}
.news-item {
    color: #000;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    @media (max-width: 603 + px) {
        flex-direction: column;
    }
    // .news-item__image
    &__image {
        width: 288px;
        // height: 274px;
        flex: 0 0 288px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px 0 0 20px;
        }
        @media (max-width: $phone + px) {
            width: 244px;
            // height: 279px;
            flex: 0 0 244px;
        }
        @media (max-width: 603 + px) {
            width: 100%;
            flex: 1;
            position: relative;
            padding-bottom: 50%;
            img {
                border-radius: 20px 20px 0 0;
                position: absolute;
            }
        }
        @media (max-width: 440px) {
            padding-bottom: 60%;
        }
    }
    // .news-item__body
    &__body {
        padding: 14px 27px;
        display: flex;
        flex-direction: column;
        @media (max-width: 603px) {
            padding: 15px;
        }
        @media (max-width: 440px) {
            padding: 18px 10px;
        }
    }
    &__date {
        font-size: 12px;
        line-height: math.div(14, 12);
        color: #c4c4c4;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__link {
        @media (any-hover: hover) {
            transition: color 0.3s;
            &:hover {
                color: $lightBlue;
            }
        }
    }
    // .news-item__title
    &__title {
        font-size: 20px;
        line-height: 1.15;
        font-weight: 700;
        margin-bottom: 15px;
    }
    // .news-item__text
    &__text {
        font-size: 12px;
        line-height: 1.5;
        flex-grow: 1;
    }
    // .news-item__button
    &__button {
        align-self: flex-end;
        margin-top: 15px;
    }
}
