.classes {
    padding: 50px 0 75px;
    position: relative;
    @media (max-width: $smallPhone + px) {
        padding: 30px 0;
    }
    ._decor-fabric {
        &::before {
            @extend %fabric;
            top: 0;
            height: 603px;
            transform: translate(-50%, 20%);
        }
        &::after {
            @extend %fabric;
            top: auto;
            bottom: 0;
            height: 603px;
            transform: translate(-50%, 25%) scaleX(-1);
        }
    }
    // .classes__container
    &__container {
        max-width: 812px;
        // outline: 1px solid red;
        @extend %blurry-dots;
        &::before {
            // filter: none;
            left: -60% + pc($maxWidthContainer - 812, $maxWidthContainer);
            transform: translate(-793 + 255px, -50%);
        }
        &:after {
            // filter: none;
            right: -60% - pc($maxWidthContainer - 812, $maxWidthContainer);
        }
    }
    // .classes__list
    &__list {
        gap: 64px;
        display: flex;
        flex-direction: column;
        @media (max-width: $phone + px) {
            gap: 50px;
        }
        @media (max-width: 603 + px) {
            gap: 30px;
        }
        @media (max-width: $smallPhone + px) {
            gap: 22px;
        }
    }
    // .classes__list-item
    &__list-item {
        max-width: 603px;
        @media (max-width: 603 + px) {
            max-width: 100%;
            display: flex;
            flex-direction: column;
        }
        &:nth-child(even) {
            align-self: end;
        }
    }
}
.class {
    display: flex;
    gap: 20px;
    color: #000;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 16px 24px 14px 20px;
    min-height: 303px;
    position: relative;
    z-index: 3;
    background: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 603 274" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="602" height="273" rx="19.5" fill="none" fill-opacity="1" stroke="url(%23paint0_linear_0_3047)"/><defs><linearGradient id="paint0_linear_0_3047" x1="301" y1="0" x2="301" y2="274" gradientUnits="userSpaceOnUse"><stop stop-color="white"/><stop offset="1" stop-color="%23E1E1E1"/></linearGradient></defs></svg>');
    background-size: 100% 100%;
    @media (max-width: $phone + px) {
        min-height: 235px;
    }
    // .class__image
    &__image {
        width: 270px;
        flex: 0 0 270px;
        position: relative;
        // outline: 5px solid green;
        @media (max-width: 603 + px) {
            align-self: center;
            text-align: center;
            max-height: 220px;
        }
        img {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            max-width: 100%;
            max-height: 125%;
            // outline: 5px solid red;
            @media (max-width: $phone + px) {
                max-width: 75%;
            }
            @media (max-width: 603 + px) {
                max-height: 100%;
                position: static;
                transform: none;
            }
        }
    }
    // .class__body
    &__body {
        display: flex;
        flex-direction: column;
    }
    // .class__title
    &__title {
        font-size: 20px;
        line-height: 1.15;
        margin-bottom: 17px;
        font-weight: 700;
    }
    &__link {
        @media (any-hover: hover) {
            transition: color 0.3s;
            &:hover {
                color: $lightBlue;
            }
        }
    }
    // .class__text
    &__text {
        font-size: 12px;
        line-height: 1.5;
        flex-grow: 1;
    }
    // .class__button
    &__button {
        align-self: flex-end;
        @media (max-width: 603 + px) {
            margin-top: 15px;
        }
    }
}
