._single-page__body {
    ._single-page__slider {
        max-width: none;
        &:not(:first-child) {
            @include avalue("margin-top", 60, 20);
        }
        &:not(:last-child) {
            @include avalue("margin-bottom", 60, 20);
        }
        // outline: 1px solid red;
        @media (max-width: $phone + px) {
            margin-top: 32px;
            margin-bottom: 32px;
        }
        @media (max-width: $smallPhone + px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    ._single-page__main-slider-wrapper {
        overflow: hidden;
        width: 100%;
        max-width: 1026 + 300px;
        margin: 0 auto;
        padding: 0 150px;
        position: relative;
        // outline: 1px solid red;
        @media (max-width: 1320 + px) {
            padding: 0;
        }
        @media (max-width: $smallPhone + px) {
            position: relative;
        }
        .swiper-button-prev,
        .swiper-button-next {
            // transform: none;
            @media (max-width: $phone + px) {
                @include size(40);
                &::before {
                    font-size: 14px;
                }
            }
            @media (max-width: $smallPhone + px) {
                @include size(23);
                &::before {
                    font-size: 8px;
                }
            }
        }
        .swiper-button-prev {
            left: 0;
            // left: pc(-30, $phone - 10);
            // transform: translate(-100%, -50%);
            @media (max-width: $smallPhone + px) {
                left: 0;
                transform: translate(0, -50%);
            }
        }
        .swiper-button-next {
            right: 0;
            // transform: translate(100%, -50%);
            // right: pc(-30, $phone - 10);
            @media (max-width: $smallPhone + px) {
                right: 0;
                transform: translate(0, -50%);
            }
        }
    }
    ._single-page__main-slider {
        position: relative;
        width: 100%;
        max-width: 1026px;
        @media (max-width: 1320 + px) {
            width: pc(545, $phone);
            margin: 0 auto;
        }
        @media (max-width: $smallPhone + px) {
            position: static;
        }
        .swiper-wrapper {
        }
        .swiper-slide {
            position: relative;
            flex: 0 0 100%;
            padding-top: pc(600, 1026);
            img {
                position: absolute;
                border-radius: 10px;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    ._single-page__thumbs-slider-wrapper {
        width: 100%;
        max-width: 1026 + 300px;
        margin: 0 auto;
        padding: 0 150px;
        // outline: 1px solid red;
        @media (max-width: 1320 + px) {
            padding: 0;
        }
        @media (max-width: $smallPhone + px) {
            position: relative;
        }
    }
    ._single-page__thumbs-slider {
        width: 100%;
        max-width: 1026px;
        margin-top: 42px;
        overflow: hidden;
        // transform: translateX(20%);
        // outline: 1px solid;
        @media (max-width: 1320 + px) {
            margin: 12px auto 0;
            width: pc(545, $phone);
        }
        @media (max-width: $phone + px) {
            transform: none;
            overflow: hidden;
            width: 100%;
        }
        @media (max-width: $smallPhone + px) {
        }
        .swiper-slide {
            // width: 186px;
            // height: 109px;
            // flex: 0 0 pc(186, 1026);
            flex: 0 0 calc(20% - 19px);
            position: relative;
            opacity: 1;
            cursor: pointer;
            position: relative;
            border-radius: 10px;
            padding-top: pc(109, 1026);
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #fff;
                opacity: 0.8;
                transition: opacity .3s;
                z-index: 1;
            }
            @media (max-width: $phone + px) {
                flex: 0 0 calc((100% - 10px) / 7 - 9px);
                padding-top: pc(58, $phone - 10);
                border-radius: 5px;
            }
            @media (max-width: $smallPhone + px) {
                flex: 0 0 22.95%;
                flex: 0 0 calc(25% - math.div(8px * 3, 4));
                padding-top: pc(45, $smallPhone - 32);
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            &-thumb-active {
            }
            &-active {
                &::before {
                    opacity: 0;
                }
            }
        }
    }
}
