._single-page__body {
    ._single-page__slider {
        max-width: none;
        &:not(:first-child) {
            @include avalue("margin-top", 60, 20);
        }
        &:not(:last-child) {
            @include avalue("margin-bottom", 60, 20);
        }
        // outline: 1px solid red;
        @media (max-width: $phone + px) {
            margin-top: 32px;
            margin-bottom: 32px;
        }
        @media (max-width: $smallPhone + px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    ._single-page__main-slider-wrapper {
        overflow: hidden;
        width: 100%;
        position: relative;
        @include flex-center;

        @media (max-width: $smallPhone + px) {
            // position: relative;
        }
        .swiper-button-prev-wrapper {
            // justify-content: flex-start;
        }
        .swiper-button-next-wrapper {
            // justify-content: flex-end;
        }
        .swiper-button-prev,
        .swiper-button-next {
            position: relative;
            left: auto;
            right:auto;
            bottom: auto;
            top: auto;
            transform: none;
            @media (max-width: 992px) {
                @include size(40);
                &::before {
                    font-size: 14px;
                }
            }
            @media (max-width: $smallPhone + px) {
                @include size(23);
                &::before {
                    font-size: 8px;
                }
            }
        }
    }
    .swiper-button-prev-wrapper, .swiper-button-next-wrapper {
        flex: 0 0 75 + 60 * 2px - 15px;
        flex: 0 0 pc(75 + 60 * 2 - 15, 1428);
        @include flex-center;
        @media (max-width: 768px) {
            flex: 0 0 pc(math.div(768 - 30 - 569, 2), 768 - 30)
        }
        @media (max-width: 480px) {
            display: none;
        }
    }
    ._single-page__main-slider {
        position: relative;
        width: 100%;
        max-width: 1026px;
        overflow: hidden;
        border-radius: 10px;
        overflow: hidden;
        @media (max-width: 1260px) {
            max-width: pc(1026, 1260);
        }
        @media (max-width: 992px) {
            max-width: 85%;
        }
        @media (max-width: 700px) {
            max-width: none;
        }
        @media (max-width: $smallPhone + px) {
            position: static;
        }
        .swiper-wrapper {
        }
        .swiper-slide {
            position: relative;
            flex: 0 0 100%;
            padding-top: pc(600, 1026);
            img {
                position: absolute;
                border-radius: 10px;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    ._single-page__thumbs-slider-wrapper {
        width: 100%;
        overflow: hidden;
        width: 100%;
        position: relative;
        margin-top: 3%;
        @include flex-center;
        @media (max-width: $smallPhone + px) {
            position: relative;
        }
    }
    ._single-page__thumbs-slider {
        width: 100%;
        max-width: 1026px;
        overflow: hidden;
        border-radius: 10px;
        @media (max-width: 992px) {
            border-radius: 5px;
        }
        @media (max-width: $phone + px) {
            transform: none;
            overflow: hidden;
            width: 100%;
        }
        .swiper-slide {
            // width: 186px;
            // height: 109px;
            // flex: 0 0 pc(186, 1026);
            flex: 0 0 calc(20% - 19px);
            position: relative;
            opacity: 1;
            cursor: pointer;
            position: relative;
            border-radius: 10px;
            padding-top: pc(109, 1026);
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #fff;
                opacity: 0.8;
                transition: opacity .3s;
                z-index: 1;
            }
            @media (max-width: 992px) {
                flex: 0 0 calc(20% - math.div(12px * 4, 5));
                border-radius: 5px;
            }
            @media (max-width: $smallPhone + px) {
                flex: 0 0 calc(25% - math.div(8px * 3, 4));
                padding-top: 14%;
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            &-thumb-active {
            }
            &-active {
                &::before {
                    opacity: 0;
                }
            }
        }
    }
}
