@use "sass:math";
@import "variables";
@import "common/mixins";
@import "common/reset";

$fontFamily: Raleway;
$fontSize: 14;
$minFontSize: 16;
$lineHeight: 24; // 1.7
$background: #fff;
$mainTextColor: #000;
$darkBlue: #073773;
$lightBlue: #3483c7;
$darkGray: #939598;
$darkGrayHover: #757679;

$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1235;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;
// 1 no breakpoins
// 2 with breakpoints
$responsiveType: 1;
$pc: $maxWidthContainer + 12;
$tablet: 992; // tablets, phones horizontally
$phone: 768; // L phones
$smallPhone: 480; // S phones

html {
    scroll-behavior: smooth;
}
body {
    font-family: $fontFamily;
    @include avalue("font-size", $fontSize, $minFontSize);
    line-height: math.div($lineHeight, $fontSize);
    font-weight: 400;
    color: $mainTextColor;
    background-color: $background;
    &._lock {
        overflow: hidden;
    }
}
main {
    overflow: hidden;
    max-width: 100%;
}
.index { 
    main {
        margin-bottom: -110px;
        @media (max-width: 1920px) {
            margin-bottom: -123px;
        }
        @media (max-width: 1536px) {
            margin-bottom: -140px;
        }
        @media (max-width: 1440px) {
            margin-bottom: -150px;
        }
        @media (max-width: $phone + px) {
            padding-bottom: 100px;
        }
        @media (max-width: $smallPhone + px) {
            padding-bottom: 50px;
        }
        @media (max-width: 1440 + px) {
            margin-bottom: -160px;
        }
        @media (max-width: 1100 + px) {
            margin-bottom: -170px;
        }
        @media (max-width: $phone + px) {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}
.wrapper {
    width: 100%;
    min-height: 100%;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    @media (min-width: 768.02px) {
        margin-bottom: -160px;
        padding-bottom: 160px;
    }
    > main {
        // footer to the floor
        flex: 1 1 auto;
    }
    // fixing sliders
    > * {
        min-width: 0;
    }
}
._container {
    max-width: $maxWidthContainer + 15 + px;
    margin: 0 auto;
    padding: 0 15px;
    // @media (max-width: $md1 + px) {
    //     max-width: 970px;
    // }
    // @media (max-width: $md2 + px) {
    //     max-width: 750px;
    // }
    // @media (max-width: $md3 + px) {
    //     max-width: none;
    //     padding: 0 10px;
    // }
}
._padded-container {
    @include avalue("padding-left", 24, 14);
    @include avalue("padding-right", 24, 14);
}
@if ($responsiveType == 1) {
    [class*="__container"]/*,
    [class*="-container"]*/ {
        @if ($maxWidthContainer > 0) {
            max-width: $maxWidthContainer + px;
            box-sizing: content-box;
            margin: 0 auto;
        }
        @if ($containerPadding > 0) {
            padding: 0 math.div($containerPadding, 2) + px;
        }
    }
} @else if ($responsiveType == 2) {
    [class*="__container"],
    [class*="-container"] {
        margin: 0 auto;
        @if ($maxWidthContainer > 0) {
            max-width: $maxWidthContainer;
            box-sizing: content-box;
        } @else {
            @if ($containerPadding > 0) {
                padding: 0 math.div($container-padding, 2) + px;
            }
        }
        @media (max-width: $pc + px) {
            max-width: 970px;
        }
        @media (max-width: $tablet + px) {
            max-width: 750px;
        }
        @media (max-width: $phone + px) {
            max-width: none;
            @if ($containerPadding > 0 and $maxWidthContainer > 0) {
                padding: 0 math.div($containerPadding, 2) + px;
            }
        }
    }
} @else {
    @error "Unknown responsiveType: '" + $responsiveType + "'";
}
.page {
    flex: 1 1 auto;
    flex-direction: column;
    @media (max-width: $phone + px) {
    }
}
._page-section {
    @include avalue("margin-top", 60, 30);
    @include avalue("margin-bottom", 60, 30);
}
.popups {
    display: none;
}
:root {
    --gradient-line: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" preserveAspectRatio="none" height="366" width="1460" viewBox="0 0 1460 366"><path d="m1525.67.067 1.7 60.349C1155.77 88.58 845.846 231.14 434.808 244.976c-130.163 3.043-205.758-10.899-460.625-63.142l-.098-3.488 5.54.901c267.565 43.635 344.465 55.001 476.177 46.731 131.253-9.526 251.007-31.844 365.527-59.196 126.004-30.109 245.371-66.272 366.231-98.14 109.49-29.008 220.25-54.35 338.11-68.575Z" fill="url(%23a)"/><path d="M1453.6 53v312.8H-14V180.1l5.2 1c251.1 48.4 323.3 61.2 447.7 56.9 124-5.5 237.6-23.4 346.2-46.2 114-23.9 222.5-53.2 331.8-79.2 5.4-1.3 10.7-2.6 16.1-3.8 104-24.5 209.1-45.5 320.6-55.8Z" fill="%23fff"/><defs><linearGradient id="a" x1="-91.537" x2="258.641" y1="151.378" y2="-548.129" gradientUnits="userSpaceOnUse"><stop stop-color="%23009EE2"/><stop offset="1" stop-color="%23273992"/></linearGradient></defs></svg>');
    --gradient-line-tablet: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" height="200" viewBox="0 0 768 200"><path d="m831.385.81.929 32.868C629.927 49.017 461.131 126.66 237.266 134.195c-70.891 1.657-112.062-5.936-250.872-34.39l-.053-1.899 3.017.491c145.725 23.765 187.607 29.955 259.342 25.451 71.485-5.188 136.707-17.343 199.078-32.24 68.626-16.398 133.635-36.094 199.461-53.45C706.871 22.359 767.194 8.558 831.385.81Z" fill="url(%23a)"/><path d="M792.134 29.639V200H-7.17V98.862l2.832.544c136.758 26.361 176.08 33.332 243.833 30.99 67.534-2.995 129.404-12.744 188.552-25.162 62.088-13.017 121.181-28.974 180.709-43.135 2.941-.708 5.828-1.416 8.769-2.07 56.641-13.343 113.882-24.78 174.609-30.39Z" fill="%23fff"/><defs><linearGradient id="a" x1="-49.399" x2="141.32" y1="83.219" y2="-297.756" gradientUnits="userSpaceOnUse"><stop stop-color="%23009EE2"/><stop offset="1" stop-color="%23273992"/></linearGradient></defs></svg>');
    --gradient-line-phone: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" preserveAspectRatio="none" height="162" viewBox="0 0 320 162"><path d="m670.227.704.752 26.615c-163.884 12.421-300.567 75.293-481.844 81.395-57.404 1.342-90.743-4.807-203.144-27.847l-.044-1.538 2.444.397c118.001 19.244 151.916 24.257 210.003 20.609 57.885-4.2 110.699-14.043 161.205-26.106 55.57-13.279 108.212-29.227 161.515-43.282C569.401 18.154 618.248 6.977 670.227.704Z" fill="url(%23a)"/><path d="M638.444 24.049V162H-8.796V80.103l2.292.44c110.741 21.346 142.582 26.991 197.445 25.095 54.687-2.426 104.786-10.32 152.681-20.376 50.276-10.54 98.127-23.462 146.331-34.928 2.381-.574 4.719-1.147 7.1-1.676 45.866-10.805 92.217-20.067 141.391-24.61Z" fill="%23fff"/><defs><linearGradient id="a" x1="-42.993" x2="111.442" y1="67.435" y2="-241.061" gradientUnits="userSpaceOnUse"><stop stop-color="%23009EE2"/><stop offset="1" stop-color="%23273992"/></linearGradient></defs></svg>');
}
@import "common/*";
@import "includes/**/*";
